In [8]:
import turtle

In [9]:
try:
    bob = turtle.Turtle()
except:
    bob = turtle.Turtle()

In [10]:
bob.color("blue")

for num in range(6):
    print(num)
    bob.forward(100)
    bob.left(60)







turtle.done()

0
1
2
3
4
5

In [12]:
!pip install numpy pandas scipy scikit-learn torch

Requirement already satisfied: numpy in c:\users\25472\anaconda3\lib\site-packages (1.20.3)
Requirement already satisfied: pandas in c:\users\25472\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: scipy in c:\users\25472\anaconda3\lib\site-packages (1.7.1)
Requirement already satisfied: scikit-learn in c:\users\25472\anaconda3\lib\site-packages (0.24.2)
Collecting torch
  Downloading torch-1.10.1-cp39-cp39-win_amd64.whl (226.5 MB)
Requirement already satisfied: pytz>=2017.3 in c:\users\25472\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\25472\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\25472\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\25472\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: typing-extensions in c:\users\25472\anaconda3\lib\site-packages (from torch) (3.10.0.2)
Requirement already satisfied: six>=1.5 in c:\users\25472\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: torch
Successfully installed torch-1.10.1

In [14]:
# imports
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy

In [15]:
pwd

'C:\\Users\\25472'

In [16]:
cd Documents/DSI

C:\Users\25472\Documents\DSI

In [17]:
pwd

'C:\\Users\\25472\\Documents\\DSI'

In [19]:
cd DSI_Assignment

C:\Users\25472\Documents\DSI\DSI_Assignment

In [20]:
ls

 Volume in drive C is OS
 Volume Serial Number is DEB3-950A

 Directory of C:\Users\25472\Documents\DSI\DSI_Assignment

09/01/2022  14:50    <DIR>          .
09/01/2022  14:50    <DIR>          ..
13/10/2018  14:30        54,067,692 title.akas.tsv.gz
13/10/2018  13:44        96,073,544 title.basics.tsv.gz
13/10/2018  12:41         4,317,750 title.ratings.tsv.gz
               3 File(s)    154,458,986 bytes
               2 Dir(s)  415,806,439,424 bytes free

In [26]:
df0 = pd.read_csv("title.akas.tsv.gz",compression='gzip',sep = '\t',low_memory = False)
df1 = pd.read_csv("title.basics.tsv.gz",compression='gzip',sep = '\t',low_memory = False)
df2 = pd.read_csv("title.ratings.tsv.gz",compression='gzip',sep = '\t',low_memory = False)

In [35]:
df0.shape

(3423660, 8)

In [36]:
df0.columns

Index(['titleId', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'isOriginalTitle'],
      dtype='object')

In [40]:
df0.head(5)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
1,tt0000001,2,Карменсита,RU,\N,\N,\N,0
2,tt0000001,3,Carmencita,US,\N,\N,\N,0
3,tt0000001,4,Carmencita,\N,\N,original,\N,1
4,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1

In [32]:
df1.shape

(5330276, 9)

In [37]:
df1.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [39]:
df1.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [33]:
df2.shape

(874203, 3)

In [38]:
df2.columns

Index(['tconst', 'averageRating', 'numVotes'], dtype='object')

In [34]:
# question 2
df0.drop_duplicates(inplace=True)
df1.drop_duplicates(inplace=True)
df2.drop_duplicates(inplace=True)

In [49]:
# inner merge
df_inner_1 = df0.merge(df1, how='inner', left_on='titleId', right_on='tconst')
df_inner = df_inner_1.merge(df2, how='inner', on='tconst')

KeyboardInterrupt

In [ ]:
# outer merge
df_outer_1 = df0.merge(df1, how='outer', left_on='titleId', right_on='tconst')
df_outer = df_outer_1.merge(df2, how='outer', on='tconst')

In [ ]:
print(f'The shape of inner merge is {df_inner.shape} and  outer merge is {df_outer.shape}')

In [ ]:
# unique method
df_outer.columns

In [ ]:
df_outer

In [50]:
import turtle

# colab turtle
!pip3 install ColabTurtle
from ColabTurtle.Turtle import *

# imports to make plots

import matplotlib.pyplot as plt
from matplotlib.patches import Polygon
import numpy as np

Collecting ColabTurtle
  Downloading ColabTurtle-2.1.0.tar.gz (6.8 kB)
Building wheels for collected packages: ColabTurtle
  Building wheel for ColabTurtle (setup.py): started
  Building wheel for ColabTurtle (setup.py): finished with status 'done'
  Created wheel for ColabTurtle: filename=ColabTurtle-2.1.0-py3-none-any.whl size=7655 sha256=afdff8b524c59c99e2ce5982701089c16dabdffbfd221e19afdcb55633e61efe
  Stored in directory: c:\users\25472\appdata\local\pip\cache\wheels\a8\ab\ce\4aca5e858d2561104f45e6164390067231381836678b908064
Successfully built ColabTurtle
Installing collected packages: ColabTurtle
Successfully installed ColabTurtle-2.1.0

In [51]:
# initialize the turtle
initializeTurtle()

In [52]:
# try:
#     t = turtle.Turtle()
# except:
#     t = turtle.Turtle()

In [53]:
def drawPolygon(t, vertices):
    up()
    (x, y) = vertices[-1]
    goto(x, y)
    down()
    for (x, y) in vertices:
        goto(x, y)

In [60]:
vertices = []
def drawHex():
    penup()
    goto(250,350)
    pendown()
    for _ in range(6):
      forward(225)
      right(360 / 6)
      vert = pos()
      vertices.append(vert)


drawHex()
vertices = []
def drawHex():
    penup()
    goto(250,350)
    pendown()
    for _ in range(6):
      forward(225)
      right(360 / 6)
      vert = pos()
      vertices.append(vert)


drawHex()
print(vertices)

[(250.0, 125.0), (444.856, 12.5), (639.712, 125.0), (639.712, 350.0), (444.856, 462.5), (250.0, 350.0)]